.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #f5f5f5 0%, #ffffff 100%);
  padding: 1rem 1.2rem;
  max-width: 800px;
  margin: 1rem auto;
  border: none;
}

.expense-item__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
  margin-left: 2rem;
}

.expense-item__description h2 {
  font-size: 2rem;
}

.expense-item__description p {
  width: 100px;
  height: 50px;
  background-color: #168f44;
  color: #eee;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}
